beautifulsoup4==4.7.1
browsermob-proxy==0.8.0
bs4==0.0.1
certifi==2018.11.29
chardet==3.0.4
Click==7.0
Flask==1.0.2
gevent==1.4.0
greenlet==0.4.15
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.1
protobuf==3.6.1
requests==2.21.0
requests-file==1.4.3
selenium==3.141.0
six==1.11.0
soupsieve==1.8
tldextract==2.2.1
urllib3==1.24.1
Werkzeug==0.14.1
xvfbwrapper==0.2.9
